/* src/components/HomeSlider.css */
.home-slider {
  width: 100%;
  height: 320px;
  margin: 30px 0;
  overflow: hidden;
}

.home-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .home-slider {
    height: 200px;
  }
}
